<div class="header">
    <h1><a class="logo" href="{{ solid.shop_url }}">{{ solid.shop_name }}</a></h1>
    
    <div class="cartsmall">
      <p>
      {% set cart = cart.get() %}
      {% if cart.items_quantity == 0 %}
      Your cart is empty
      {% elseif cart.items_quantity == 1 %}
      <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
        You have <span class="items_in_cart">{{ cart.items_quantity }} item</span><br /> in your cart
      </a>
      {% else %}
      <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
        You have <span class="items_in_cart">{{ cart.items_quantity }} items</span><br /> in your cart
      </a>
      {% endif %}
      </p>
    </div><!-- end cartsmall -->
    
</div><!-- end header -->