<div class="aside">
    
    <h3>Shop</h3>
    <ul class="nav categories">
      {% for cat in category.getList() %}      
      <li><a href="{{ cat.url }}" title="{{ cat.name }}">{{ cat.name }}</a>
        {% if cat.subcategories|length > 0 %}
         <ul>
           {% for subcat in cat.subcategories %}
              <li>
                <a href="{{ subcat.url }}" title="{{ subcat.name }}">{{ subcat.name }}</a>
        
                {% if subcat.subcategories|length > 0 %}
                <ul>
                     {% for subcat2 in subcat.subcategories %}
                        <li><a href="{{ subcat2.url }}" title="{{ subcat2.name }}">{{ subcat2.name }}</a></li>
                     {% endfor %}
                </ul>
                {% endif %}        
              </li>
               
           {% endfor %}
          </ul>
         {% endif %}
       </li> 
      {% endfor %}
    </ul>  
      
    <h3>Info</h3> 
    <ul class="nav pages">
      {% for page in page.getList() %}
      <li><a href="{{ page.url }}" title="{{ page.name }}">{{ page.name }}</a></li>
      {% endfor %}
    </ul>

    <h3>Search</h3>
  <form action="/search" method="post">
    <input type="text" size="17" name="query" />
    <br />
    <input type="submit" value="Search" />
  </form>
  
</div><!-- end aside -->