<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="{{ solid.shop_name }} Shopping Cart" />
<meta name="description" content="{{ solid.shop_name }} Shopping Cart" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ solid.shop_name }} -- Shopping Cart</title>
{{ solid.css("reset.css") }}
{{ solid.css("screen.css") }}
<link href='https://fonts.googleapis.com/css?family=Yanone Kaffeesatz' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  {{ solid.embed("header") }}
  {{ solid.embed("sidebar") }}
  
  <div class="content">
    
    <div class="section">
    
      
      <h2>Your Cart</h2>
<div class="shoppingcartlarge">  
{% set cart = cart.get() %}
<form action="" method="post">
<table>
  <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="left">Item</th>
        <th class="left">Price</th>
        <th class="center">Qty</th>
        <th class="right">Sub-total</th>
        <th class="center">Remove</th>
    </tr>
  </thead>
 
  <tbody>
    {% for item in cart.items %}
    
    <tr>
      <td>{% if item.thumbnail %}<a href="{{ item.url }}"><img width="40" height="40" src="{{ item.thumbnail }}" /></a>{% endif %}</td>
      <td>
        <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a><br />
        {% for variant in item.variants %}
        <span>{{ variant.name }} : {{ variant.value }}</span><br />
        {% endfor %}
      </td>
      <td class="left">{{ item.price|currency("symbol") }}</td>
      <td class="center"><input style="text-align:right;" type="text" size="3" name="quantity_{{ item.id }}" value="{{ item.quantity }}" /></td>
      <td class="right">{{ item.price_total|currency("symbol") }}</td>
      <td class="center">
        <a class="linkRemoveFromCart" href="/cart/remove/{{item.id}}" title="Remove From Cart" rel="{{ item.id }}">Remove</a>
      </td>  
    </tr>
    
    {% else %}
    <tr>
      <td colspan="9">
        Your cart is empty. Treat yourself and
        <a href="{{ solid.shop_url }}">continue shopping</a>?
      </td>
    </tr>
    {% endfor %}
    
    {% if cart.items_quantity > 0 %}
    {% if cart.tax_setting == "incl" %}
    <tr>
      <td class="right" colspan="6">Taxes are included in all prices</td>
    </tr>
    {% endif %}
    
    <tr>
      <td colspan="5" class="right">Total items</td>
      <td class="right">{{ cart.items_quantity }}</td>
    </tr>
    
    {% if cart.tax_setting == "excl" %}
    
    <tr>
      <td colspan="5" class="right">Subtotal</td>
      <td class="right">{{ cart.items_price_total|currency("symbol") }}</td>
    </tr>
    
    <tr>
      <td colspan="5" class="right">Taxes</td>
      <td class="right">{{ cart.items_tax|currency("symbol") }} {{ cart.tax_setting }}</td>
    </tr>
    
    {% endif %}
 
    <tr>
      <td colspan="5" class="right">Shipping total</td>
      <td class="right">{{ cart.shipping_total|currency("symbol") }}</td>
    </tr>
    
    <tr>
      <td colspan="5" class="right">Grand total</td>
      <td class="right">{{ cart.total|currency("symbol") }}</td>
    </tr>
    {% endif %}
     
  </tbody>
</table>
          
  Ship to:  {{ solid.htmlShippingCountries() }}  
  
<input type="submit" value="Update Cart" name="btnupdate" />  
<input type="submit" value="Checkout" name="btncheckout" />         
</form>
</div>
      
      
    </div><!-- end section -->
    
  </div><!-- end content -->
  
  {{ solid.embed("footer") }}
  
</div><!-- end container -->
</body>
</html>