{% set page = page.get() %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="keywords" content="{{ page.name }}" />
<meta name="description" content="{{ page.name }}" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ solid.shop_name }} -- {{ page.name }}</title>
{{ solid.css("reset.css") }}
{{ solid.css("screen.css") }}
<link href='https://fonts.googleapis.com/css?family=Yanone Kaffeesatz' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  {{ solid.embed("header") }}
  {{ solid.embed("sidebar") }}
  
  <div class="content">
    
    <div class="section">    
      <h2>{{ page.name }}</h2>
      <p>
        {{ page.content }}
      </p>
    </div><!-- end section -->
    
  </div><!-- end content -->
  
  {{ solid.embed("footer") }}
  
</div><!-- end container -->
</body>
</html>