{% set product = product.get() %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="{{ product.tags }}" />
<meta name="description" content="{{ product.name }}" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ solid.shop_name }} -- {{ product.name }}</title>
{{ solid.css("reset.css") }}
{{ solid.css("screen.css") }}
<link href='https://fonts.googleapis.com/css?family=Yanone Kaffeesatz' rel='stylesheet' type='text/css'>  
</head>
<body>
<div class="container">
  {{ solid.embed("header") }}
  {{ solid.embed("sidebar") }}
  
  <div class="content">
    
    <div class="section">
      <form action="/cart/add/{{product.id}}" method="post">
      <h2>
        <a href="{{ product.url }}" title="Details: {{ product.name }}">
        {{ product.name }}&nbsp;<span id="placeholder_price">{{ product.price|currency("symbol") }}</span>
        </a>
      </h2>

      <p class="productDescription">
        {{ product.description }}
      </p>
      
      {% if product.images|length > 0 %}
      <h3>Images</h3>
      <ul class="productimages">
      {% for image in product.images %}
        <li>
          <a href="{{ image.full }}" title="Image of {{ product.name }}">
            <img src="{{ image.thumbnail}}" alt="Click to enlarge image" />
          </a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if product.variant_combinations|length > 0 %}  
      <div id="placeholder_variants" class="variants">  
        <label for="variant_combination">Select a combination</label>
          <select id="variant_combination" name="variant_combination">
             {% for variant_combination in product.variant_combinations  %}
             <option value="{{ variant_combination.id }}">
               {{ variant_combination.name }} ({{ variant_combination.price|currency("symbol") }})
              </option>
             {% endfor %}
          </select>
      </div>   
      {% endif %}  
             
        <input type="submit" value="Add to cart" id="btnSubmit" />
             
      </form>
    </div><!-- end section -->
    
  </div><!-- end content -->
  
<script type="text/javascript" src="//cdn.solidshops.com/js/solid.js"></script>
<script type="text/javascript">
    
     /* See the documentation on http://www.solidshops.com/help/javascriptlibrary for information about this library */
    
     function callbackStock(result)
     {
         var btnAddToCart = document.getElementById("btnSubmit");
         var productId = result.id;
         var stock = result.stock;
         if(result.stock > 0)
         {
           //product is in stock 
           btnAddToCart.removeAttribute("disabled");
           btnAddToCart.value = "Add to cart";           
         }
         else
         {
           //product is out of stock
           btnAddToCart.setAttribute("disabled", "disabled");
           btnAddToCart.value = "Out of stock";
         }
     }
    
     SolidJS.symbol = "{{ solid.currency_symbol }} ";
     SolidJS.thousand = "{{ solid.currency_thousand }}";
     SolidJS.decimal = "{{ solid.currency_decimal }}"; 
   
     var product = {{ product|json }};
   
     var options = new Array();
     options['placeholder_price'] = "placeholder_price";
     options['placeholder_variants'] = "placeholder_variants";
     options['callback_stock'] = "callbackStock";
    
     SolidJS.enhanceVariants(product,options);
    
  </script>
  
  {{ solid.embed("footer") }}
  
</div><!-- end container -->
</body>
</html>