<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="keywords" content="{{ solid.getUrlsegment(2) }}" />
  <meta name="description" content="{{ solid.getUrlsegment(2) }}" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ solid.shop_name }} -- Search results for {{ solid.getUrlsegment(2) }}</title>
{{ solid.css("reset.css") }}
{{ solid.css("screen.css") }}
<link href=' http://fonts.googleapis.com/css?family=Yanone Kaffeesatz' rel='stylesheet' type='text/css'>  
</head>
<body>
<div class="container">
  {{ solid.embed("header") }}
  {{ solid.embed("sidebar") }}
  
  <div class="content">
    
    <h2 class="infotitle">Search results: <em>{{ category.name }}</em></h2>
    {% set products = product.getList({"count":"10", "pagination":"true", "order": "id:desc", "search": solid.getUrlsegment(2)}) %}
    {% for product in products %}
    
    <div class="section">
      
      <h2>
        <a href="{{ product.url }}" title="Details: {{ product.name }}">
        {{ product.name }}<span>&nbsp;{{ product.price|currency("symbol") }}</span>
        </a>
      </h2>
      
      {% if product.thumbnail %}
      <img class="thumbnail" src="{{ product.thumbnail }}" alt="{{ product.name }}" />
      {% endif %}
      
      <p class="productDescription">
        {{ product.description }}
      </p>
      
      <a class="calltoaction" href="{{ product.url }}" title="Details: {{ product.name }}">More info &amp; buying</a>
      
    </div>
    
    {% else %}
        Nothing found!
    {% endfor %}
    
    {{ solid.embed("pagination") }}
    
  </div><!-- end content -->
  
  {{ solid.embed("footer") }}
  
</div><!-- end container -->
</body>
</html>